body {
  line-height: 1.4em;
  text-align: justify;
}

header {
  border-bottom: 1px solid #e5e5e5;
}

.post {
  border-bottom: 1px solid #d3d3d3;
}

.post:last-child {
  border-bottom: none;
}

.main {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  border-top: solid 1px #d3d3d3;
  color: #333;
  font-size: 90%;
  height: 200px;
}

footer #copyright {
  text-align: center;
}

pre {
  overflow-x: auto;
  word-wrap: normal;
}

pre code {
  white-space: pre;
}

img {
  margin: 5px;
  margin-bottom: 25px;
  max-width: 95%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

.meta {
  font-size: 95%;
}

.archives {
  list-style: none;
  padding-left: 0px;
}

.archives .date {
  color: #555;
}

@media only screen and (min-width: 800px) {
  .main {
    width: 780px;
  }
}
