body {
  margin-top: 10px;
  text-align: justify;
}
header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
header h1 .dot {
  color: #999;
}

footer {
  border-top: 1px solid #e5e5e5;
  color: #999;
  height: 200px;
  margin-top: 10px;
  padding-top: 5px;
}
footer #copyright {
  text-align: center;
}

pre {
  word-wrap: normal;
  overflow-x: auto;
}
pre code {
  white-space: pre;
}

img {
  margin: 5px;
  margin-bottom: 25px;
  max-width: 95%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

.meta {
  color: #999;
  font-size: 90%;
  margin-bottom: 15px;
}

.archives {
  list-style: none;
  padding-left: 0px;
}
.archives .date {
  color: #999;
}
