---
layout: default
title: pbrisbin dot com
---

<header>
  <h1>pbrisbin<span class="dot">dot</span>com</h1>
</header>

{% for post in paginator.posts %}
 {% include post_summary.html %}
{% endfor %}

<div id="boostrap-sucks">
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="/">«</a></li>
      {% else %}
        <li><a href="/page-{{ paginator.previous_page }}">«</a></li>
      {% endif %}
    {% else %}
      <li><span class="disabled">«</span></li>
    {% endif %}

    {% if paginator.page == 1 %}
      <li><span class="active">1</span></li>
    {% else %}
      <li><a href="/">1</a></li>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li><span class="active">{{ count }}</span></li>
      {% else %}
        <li><a href="/page-{{ count }}">{{ count }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a href="/page-{{ paginator.next_page }}">»</a></li>
    {% else %}
      <li><span class="disabled">»</span></li>
    {% endif %}
  </ul>
</div>
