<header>
  <p><a href="/">Home</a></p>
  <h1>$title$</h1>
</header>

<section class="meta">
  published on $date$, tagged with $tags$
</section>

<article>
  $body$
</article>

<ul class="pager">
  $if(prev)$
  <li class="previous">
    <a href="$prev$">⇐ $prevTitle$</a>
  </li>
  $endif$

  $if(next)$
  <li class="next">
    <a href="$next$">$nextTitle$ ⇒</a>
  </li>
  $endif$
</ul>

<script src='https://carnivalapp.io/sites/6/init.js'></script>
<script>
  document.addEventListener("DOMContentLoaded", Carnival.init);
</script>
